<mat-toolbar color="primary">
  <span>Random Action Generator</span>
</mat-toolbar>

<input class="actionInput" #myAction type="text" name="myAction" ngModel>
<button mat-stroked-button (click)="addAction(myAction.value);myAction.value=''">Add Action</button>
<input class="bodyInput" #myBody type="text" name="myBody" ngModel>
<button mat-stroked-button (click)="addBodyPart(myBody.value);myBody.value=''">Add Body Part</button>

<h1>Actions</h1>
<mat-list>
  <mat-list-item *ngFor="let action of actions"> {{action}} </mat-list-item>
</mat-list>

<h1>Body Parts</h1>
<mat-list>
  <mat-list-item *ngFor="let body of bodyParts"> {{body}} </mat-list-item>
</mat-list>


<button mat-stroked-button (click)="randomAction(randomNum(actions),randomNum(actions))">get random action</button>
<p class="result">{{doAction}}</p>
